---
import "../styles/global.css";
---

<div class="h-[800px] m-2 p-2 flex flex-col items-end bg-pink-50 border-pink-400 border-4 rounded-4xl">
  <textarea class="grow w-full p-2 text-xl rounded-2xl" name="note" id="note" maxlength="2000" placeholder="Date: \n\nThoughts: " />
  <button class="m-2 p-2 px-4 bg-pink-300 border-pink-400 border-2 rounded-lg">Save</button>
</div>
