---
import "../styles/global.css";
const { note } = Astro.props;
---
<div class="note-card max-w-[600px] max-h-[300px] m-2 p-2 flex flex-col justify-between rounded-xl" data-note={JSON.stringify(note)}>
  <div>
    <h2>{note.date}</h2>
  </div>
  <div>
    <p class="font-light">{note.thoughts.substring(0, 100)}...</p>
  </div>
</div>

<style>
  .note-card {
    background-color: var(--bg-secondary);
    color: var(--text-color);
    border: 2px solid var(--border-color);
  }
</style>
