---
import "../styles/global.css";
---

<div class="max-w-[600px] max-h-[300px] m-2 p-2 flex flex-col justify-between bg-pink-200 text-black border-pink-400 border-2 rounded-xl">
  <div>
    <h2>Note</h2>
  </div>
  <div>
    <p class="font-light">Preview</p>
  </div>
</div>
