---
import "../styles/global.css";
---
<div class="note-card max-w-[600px] max-h-[300px] m-2 p-2 flex flex-col justify-between rounded-xl">
  <div>
    <h2>Note</h2>
  </div>
  <div>
    <p class="font-light">Preview</p>
  </div>
</div>

<style>
  .note-card {
    background-color: var(--bg-secondary);
    color: var(--text-color);
    border: 2px solid var(--border-color);
  }
</style>
